/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***start****/
*,
*::before,
*::after{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	/* background-color: gray; */
}

/*---header---*/
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-image{
	position: relative;
}
.hero_image{
	width: 100%;
	height: 98vh;
}
.blur_bg{
	background-color: black;
	width: 100%;
	height: 98vh;
	position: absolute;
	top: 0;
	opacity: 50%;
}
header{
position: fixed;
top: 0%;
width: 100%;
display: flex;
justify-content: center;
z-index: 9999;
}
.active{
	color: rgb(234,81,62);
}
.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	/* height: 10vh; */
	/* border: 1px solid grey; */
}
.nav{
	width: 20%;
	/* border: 1px solid grey; */
	margin: 20px auto;
}
.fab{
	border-radius: 50%;
	background: white;
	padding: 10px;
	color: grey;
}

.brand-image {
	width: 100px;
    height: 100px;
    overflow: hidden;
	margin-right: 30px;
	
}
small {
	color: rgb(235,95,77);
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 10px;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.hero_heading{
	width: 40%;
	position: absolute;
	top: 55%;
	/* border: 1px solid green; */
	
}
.hero_sec{
	width: 100%;
	
	justify-content: center;
	align-items: center;
	margin: auto;
	color: white;
}

/* .icons{
	text-align: center;
	padding: 20px;
} */
nav {
	margin-top: 20px;
}

nav a {
   color: black;
   text-decoration: none;
   text-transform: uppercase;
   margin-left: 20px;
   margin-top: 20px;
   margin-right: 10px;
}
.bg-clr {
	background: white;
}
h1{
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
}
h2{
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
}
h3{
	text-align: center;
	color: white;
	font-size: 24px;
}
.btn{
	padding: 15px;
	background-color: rgb(234,81,62);
	text-transform: uppercase;
	border: none;

}
h4{
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
	font-size: 24px;
}
.box-1{
	background-color: rgb(92,189,157);
	/* flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 400px; */
	height: 250px;
	width: 250px;
	font-size: 18px;
}
.box-2{
	background-color: rgb(230,127,49);
	height: 250px;
	width: 250px;
}
.box-3{
	background-color: rgb(57,152,219);
	height: 250px;
	width: 250px;
}
.box-4{
    background-color:rgb(104,205,115) ;	
	height: 250px;
	width: 250px;
}
.box{
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
	text-align: center;
	font-size: 32px;
	justify-content: space-between;
	margin-right: 125px;
	margin-left: 125px;
}
.far{
	font-size: 32px;
}
.line {
	border-bottom: 1px solid rgba(0, 0, 0, 0.808);
	width: 200px;
	margin: auto;
	line-height: 1.5;
	margin-bottom: 10px;
	margin-top: 30px;
}

/*---portfolio-img--*/
.portfolio-image{
	/* height: 200px; */
	/* width: 200px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  
}

.port-div{
	width: 250px;
	height: 250px;
	margin-bottom: 20px
}
.port-div img{
	width: 100%;
}

/*---our-team-members--*/
.our-team { 
	display: flex;
	justify-content: space-between;
}
.our-member{
   width: 250px;
   height: 250px;
}

.our-member img {
	width: 100%;
	border-radius: 50%;
}
.i{
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	text-align: center;
    margin-left: 480px;
	margin-top: 100px;
	margin-bottom: 50px;
}
.graph{
	justify-content: space-between;
	margin-left: 100px;
}

.team-text,.text_right{
	width: 100%;
}


.graph_line{
	width: 70%;
	border: 1px solid grey;
	background-color: white;
	margin: 10px;
	
}
.inside_line{
	background-color: rgb(234,81,62);
	width: 90%;
	padding: 2px 15px;
	color: white;
}

.six-five{
	width: 65%;
}
.six-zero{
	width: 60%;
}
.five-zero{
	width: 70%;
}

/*---contect us--*/
iframe{
	width: 1100px;
	height: 250px;
	/* margin-left: 100px; */
}
.contect{
	width: 80%;
	/* padding: 20px; */
	margin-left: 30px;
	margin-right: 20px;
	top: 0;
}
.context-text{
	margin-bottom: 200px;
}
strong{
	color:blue;
}
span{
	color: green;
}
.h{
	color: #EA523E;
}
 .details{
	width: 100px;
	margin-top: 40px;
	margin-right: 135px;
	margin-left: 40px;
}
#lname{
	height: 50px;
	width: 400px;
}
#msg{
	height: 100px;
	width: 400px;
}
#submit{
	color: white;
	height: 50px;
	width: 400px;
	background-color:#EA523E;
	border: none;
	margin-bottom: 200px;
}
.footer {
	color: black;
	font-size: 16px;
	text-align: center;
}
button{
	background-color: rgb(234,81,62);
	color: white;
	padding: 10px 50px;
	border: none;
}
button a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

/*----gallery----*/
.aside{
	background-color: rgb(234,81,62);
	width: 350px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

.logo{
	height: 80px;
	width: 80px;
}

.home a{
	display: flex;
	color: white;
	text-decoration: none;
	border: 2px solid white;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
}
.top_left{
	display: flex;
	align-items: center;
}

h5{
	color: white;
	font-size: 24px;
}
.article{
	margin-top: 10px;
}

.gallery{
	display: flex;
	margin-left: 280px;
	/* padding: 20px; */
	/* margin-top: 20px; */
	/* justify-content: space-evenly; */
	/* flex-wrap: wrap; */
}
.gallery img {
	width: 100%;
	border: 2px solid black;
	margin: 10px;
}
.g-image1{
	height: 800px;
	width: 400px;
	margin: 10px;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
